<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FieldGuideAU</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FieldGuideAU</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To FieldGuideAU</div>
                <div class="intro-heading">It's great to have you here.</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Welcome to FieldGuideAU (also known as Tinder for Animals by the crazy founding team), delivering bio-diversity data via twitter since 3pm, Sunday 5th July, 2015.
                    To get started simply tweet '@FieldGuideAU [your location]'. Dont forget to replace [your location] with your actual location :)!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Friday 3rd July, 2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our idea was formed on a cold and wintery night at Building 136 at The Australian National University.
                                    Little did we know the heights that we could reach within a few short hours...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Saturday 4th July, 2015</h4>
                                    <h4 class="subheading">FieldGuideAU Emerges</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After hours (literally) of hard and exhausting caffeine-fueled work the FieldGuideAU twitter service emerged.
                                    Our initial excitement is dampened by the catastrophic collapse of the Atlas of Living Australia service. Could we recover in time for the deadlines to come?</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="static/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sunday, 5th July, 2015</h4>
                                    <h4 class="subheading">#Govhack2015 Delivery</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fighting off the disasters of Saturday we deliver a fully functional version of FieldGuideAU. We are eagerly awaiting the
                                    Atlas of Living Australia service coming back on line so we can show off the service in all its glory. Watch this space...</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Check them out!!!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img width="50%" src="https://pbs.twimg.com/profile_images/543209043439783936/RVfhr-kM_400x400.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Mitch O'Neill</h4>
                        <p class="text-muted">Chief Trouble Maker</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/mitch_oneill"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="mailto:mitchoneill@gmail.com"><i class="fa fa-envelope"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img width="50%" src="https://dl.pushbulletusercontent.com/ln5JgjWl8w5qJqiy6QEeBh2qX4xZd2PB/received_587570994715828.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Eric Horvat</h4>
                        <p class="text-muted">International Man of Mystery</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://twitter.com/Quickly_Rainbow"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="mailto:thunder.leopard54@gmail.com"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img width="50%" src="https://pbs.twimg.com/profile_images/526673068744122369/BDoSKp6s.jpeg" class="img-responsive img-circle" alt="">
                        <h4>Lachlan Blackhall</h4>
                        <p class="text-muted">Grumpy Old Man</p>
                        <ul class="list-inline social-buttons">
                             <li><a href="https://twitter.com/lblackhall"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="mailto:lachlanblackhall@gmail.com"><i class="fa fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; FieldGuideAU 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">

                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/agency.js"></script>

</body>

</html>
