BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Admin==1.0.8
Flask-Migrate==1.2.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-Testing==0.4.1
Flask-WTF==0.11
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.21
Pillow==8.1.1
SQLAlchemy==0.9.4
WTForms==2.0
Werkzeug==0.9.4
alembic==0.6.5
argparse==1.2.1
beautifulsoup4==4.3.2
cffi==1.1.2
configobj==5.0.4
cryptography==0.9.1
cssselect==0.9.1
enum34==1.0.4
flickrapi==2.0
gevent==1.0.2
googlemaps==2.2
greenlet==0.4.7
gunicorn==18.0
idna==2.0
ipaddress==1.0.7
itsdangerous==0.24
jieba==0.37
lxml==3.4.4
marshmallow==0.7.0
ndg-httpsclient==0.4.0
oauthlib==0.7.2
psycopg2==2.5.3
pyOpenSSL==0.15.1
pyandoc==0.0.1
pyasn1==0.1.8
pycparser==2.14
pyparsing==2.0.2
pysqlite==2.6.3
pyteaser==2.0
requests==2.3.0
requests-oauthlib==0.5.0
requests-toolbelt==0.4.0
six==1.6.1
tweepy==3.3.0
twitter==1.17.0
urllib3==1.10.4
wheel==0.24.0
wikipedia==1.4.0
wsgiref==0.1.2
